<div class="container">
    <div class="card content">
        <img class="card-img-top img-fluid rounded" src="http://placehold.it/900x300" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title">Serengeti</h2>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
          <button [routerLink]="['/']" class="btn btn-link">← Back to home</button>
    
        </div>
        <div class="card-footer text-muted">
            <div class="info">
                <strong>Author</strong>
            </div>
          Posted on <small>12/09/19</small>
        </div>
      </div>
</div>



