<div class="container" *ngIf="post$ | async as post; else loading">
    <div class="card content">
        <img class="card-img-top img-fluid" [src]=" 'http://placehold.it/900x300' ? post.img : 'http://placehold.it/900x300' " alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title">{{post.title}}</h2>
          <quill-view-html [content]="post.text"></quill-view-html>
          <button [routerLink]="['/']" class="btn btn-link">← Back to home</button>
    
        </div>
        <div class="card-footer text-muted">
            <div class="info">
                <strong>{{post.author}}</strong>
            </div>
          Posted on <small>{{post.date | date:'medium':'IL'}}</small>
        </div>
      </div>
</div>

<ng-template #loading>
  <p>loading post...</p>
</ng-template>



