<!-- <app-main-nav></app-main-nav> -->



  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
      <!--this is a place for us to add side-nav code-->
    </mat-sidenav>
    <mat-sidenav-content>
      <!--in here all the content must reside. We will add a navigation header as well-->
      
        <mat-toolbar color="primary">
          <div class="nav-bar container" *ngIf="authSvc.IsAuthenticated()">
              <button mat-icon-button (click)="onToggleSidenav()">
                  <mat-icon>menu</mat-icon>
              </button>

              <ul class="d-flex p-0">
                  <li routerLinkActive="active" class="nav-item active">
                      <a class="nav-link" routerLink="dashboard">Dashboard</a>
                  </li>
                  <li routerLinkActive="active" class="nav-item">
                      <a class="nav-link" routerLink="create">Create</a>
                  </li>
                  <li>
                    <a class="nav-item nav-link" href="#" (click)="logOut($event)">LogOut</a>
                  </li>
              </ul>
          </div>
        </mat-toolbar>

      <main>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
      </main>

    </mat-sidenav-content>
  </mat-sidenav-container>
